<a href="https://colab.research.google.com/github/POS-Cross/Bravo-EDA/blob/main/ML/Bravo_Recommendation_based_on_frequently_bought_together_with_KMeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:

! pip install kaggle
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle datasets download -d khaledanaqwa/bravodata

! pip install mlxtend --upgrade

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
mkdir: cannot create directory ‘/root/.kaggle’: File exists
Downloading bravodata.zip to /content
 97% 109M/112M [00:03<00:00, 25.6MB/s]
100% 112M/112M [00:03<00:00, 34.9MB/s]
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.19.0)
Requirement already satisfied: scikit-learn>=0.20.3 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.0)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.3->mlxtend) (3.0.0)

In [ ]:
import pandas as pd

CSV = '/content/bravodata.zip'

df_items=pd.read_csv(CSV)
df_items

         dTicketInternalKey  BravoNo  ... CustomerGroup  CustomerNo
0                  30860300        1  ...             0           0
1                  30860300        1  ...             0           0
2                  30860300        1  ...             0           0
3                  30860300        1  ...             0           0
4                  30860301        1  ...             0           0
...                     ...      ...  ...           ...         ...
3481787            31755806        1  ...             1      628959
3481788            31755806        1  ...             1      628959
3481789            31755806        1  ...             1      628959
3481790            31755806        1  ...             1      628959
3481791            31755806        1  ...             1      628959

[3481792 rows x 22 columns]

In [ ]:
# df_items = df_items.drop(columns=['Barcode','ItemName','Invoice_Date'])
df = df_items[['dTicketInternalKey','dItemInternalKey','bHasPromotions','OfferNo','DeptNo','CustomerNo']]
df = df.dropna()

df

         dTicketInternalKey  dItemInternalKey  ...  DeptNo  CustomerNo
0                  30860300               142  ...     104           0
1                  30860300             21718  ...     107           0
2                  30860300             75254  ...     112           0
3                  30860300             77885  ...     112           0
4                  30860301              1292  ...     108           0
...                     ...               ...  ...     ...         ...
3481787            31755806             63798  ...     112      628959
3481788            31755806             68245  ...     112      628959
3481789            31755806             69643  ...     108      628959
3481790            31755806             76574  ...     108      628959
3481791            31755806             77562  ...     112      628959

[3481792 rows x 6 columns]

In [ ]:
from sklearn.cluster import KMeans

km = KMeans(n_clusters=6)
predict =km.fit_predict(df)

In [ ]:
df_items['predict']=predict

In [ ]:
groupbypredict=df_items.groupby('predict')

group0 = groupbypredict.get_group(0)
group1 = groupbypredict.get_group(1)
group2 = groupbypredict.get_group(2)
group3 = groupbypredict.get_group(3)
group4 = groupbypredict.get_group(4)
group5 = groupbypredict.get_group(5)

In [ ]:
products = df_items[['dItemInternalKey', 'ItemName']].copy()
products = products[~products.duplicated()]
products

         dItemInternalKey                                  ItemName
0                     142  Tnuva Amek Cheese
1                   21718  Healthy Bread Pcs
2                   75254  Cadbury 5Star 48G
3                   77885  Nesquik Biscuit Milk 56G
4                    1292  Marlboro Red
...                   ...                                       ...
3469260             19574  Cheese 600G Pasteurised
3469989             78303  Post Oreo Golden Cereal 311G
3471232             63789  Gullon Mini Cracker Biscuts 350G
3478939             56722  Cake 50 Prs
3479304             53024  Karmel 11.99

[9380 rows x 2 columns]

In [ ]:
# Set the index to StockCode
products = products.set_index('dItemInternalKey')

# Convert to Series for eve easier lookups
products = products['ItemName']
products

dItemInternalKey
142      Tnuva Amek Cheese
21718    Healthy Bread Pcs
75254    Cadbury 5Star 48G
77885    Nesquik Biscuit Milk 56G
1292     Marlboro Red
                           ...
19574    Cheese 600G Pasteurised
78303    Post Oreo Golden Cereal 311G
63789    Gullon Mini Cracker Biscuts 350G
56722    Cake 50 Prs
53024    Karmel 11.99
Name: ItemName, Length: 9380, dtype: object

In [ ]:
products[12044]

'Safi Sunflower Oil 5L                   '

In [ ]:
from mlxtend.preprocessing import TransactionEncoder

grouplist=[group0,group1,group2,group3,group4,group5]

for j in range(len(grouplist)):
  i = grouplist[j].dropna()

  i=i[['dTicketInternalKey','dItemInternalKey']]
  i = i.groupby('dTicketInternalKey')['dItemInternalKey'].apply(list).reset_index()
  te = TransactionEncoder()
  te.fit(i['dItemInternalKey'])
  orders_1hot = te.transform(i['dItemInternalKey'])
  grouplist[j] = pd.DataFrame(orders_1hot, columns =te.columns_)

In [ ]:
grouplist[4]

        1      71     74     76     77     ...  78310  78315  78317  78319  78323
0       False  False  False  False  False  ...  False  False  False  False  False
1       False  False  False  False  False  ...  False  False  False  False  False
2       False  False  False  False  False  ...  False  False  False  False  False
3       False  False  False  False  False  ...  False  False  False  False  False
4       False  False  False  False  False  ...  False  False  False  False  False
...       ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
227835  False  False  False  False  False  ...  False  False  False  False  False
227836  False  False  False  False  False  ...  False  False  False  False  False
227837  False  False  False  False  False  ...  False  False  False  False  False
227838  False  False  False  False  False  ...  False  False  False  False  False
227839  False  False  False  False  False  ...  False  False  False  False  False

[227840 rows x 8070 columns]

In [ ]:
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules


%timeit -n1 -r1
aarrules=[]
for j in range(len(grouplist)):
  is_fp = fpgrowth(grouplist[j], min_support=0.00001, use_colnames=True)
  rules = association_rules(is_fp, metric="lift", min_threshold=10)
  aarrules.append(rules)

In [ ]:
def predict(antecedent, rules, max_results= 6):
    
    # get the rules for this antecedent
    preds = rules[rules['antecedents'] == antecedent]
    
    # a messy way to convert a frozen set with one element to string
    preds = preds['consequents'].apply(iter).apply(next)
    
    return preds[:max_results].reset_index(drop=True)

In [ ]:
len(aarrules)

6

In [ ]:
itemset ={12044}
print(products[12044])
for j in range(len(aarrules)):
  # get the predictions
  preds = predict(itemset, aarrules[j])
  print(j,len(preds))
  # Display the descriptions of the predictions
  for stockid in preds:  
      print(j,products[stockid])

Safi Sunflower Oil 5L
0 0
1 0
2 0
3 0
4 0
5 0